{
	email {env.EMAIL}
	admin off
	# Fix issues with propagation of TXT records for ACME challenges
	cert_issuer acme {
		ca https://acme-v02.api.letsencrypt.org/directory
		dns cloudflare {env.CLOUDFLARE_TOKEN}
		resolvers 1.1.1.1 8.8.8.8
		propagation_delay 30s
		propagation_timeout 5m
	}

	cert_issuer acme {
		ca https://acme.zerossl.com/v2/DV90
		dns cloudflare {env.CLOUDFLARE_TOKEN}
		resolvers 1.1.1.1 8.8.8.8
		propagation_delay 30s
		propagation_timeout 5m
	}
}

# generate cert for turn.aosus.org, but don't serve anything
turn.aosus.org {
	abort
}

cups-g11.aosus.org {
	tls {
		key_type rsa4096
	}
	abort
}

www.aosus.org {
	redir https://aosus.org{uri}
	header Cache-Control "max-age=2592000, stale-while-revalidate=2592000"
}

import /etc/caddy/configs/*.caddyfile
