version: "3.7"

networks:
  web:
    external: true
  discourse:
    external: true

services:
  caddy:
    image: ghcr.io/fariszr/caddy-dns:cloudflare-alpine@sha256:bc58bd809012008c37295e1a50653db62978f71b32596a57fe78ce2caff146ba
    container_name: caddy
    command: caddy run --watch --config /etc/caddy/Caddyfile --adapter caddyfile 
    cap_add:
      - NET_ADMIN
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    environment:
      - EMAIL=(email)
      - CLOUDFLARE_TOKEN=(cloudflare_token)
    configs:
      - source: Caddyfile
        target: /etc/caddy/Caddyfile
    volumes:
      - /home/aosus/caddy/configs:/etc/caddy/configs:ro
      - /home/aosus/caddy/proxy_error_page.html:/srv/proxy_error_page.html:ro
      - /home/aosus/gnulinuxsa-static:/srv/gnulinuxsa-static
      - data:/data
      - config:/config
    networks:
      web:
      discourse:

configs:
  Caddyfile:
    file: /home/aosus/caddy/Caddyfile

volumes:
  data:
  config: