networks:
  default:
    enable_ipv6: true
  web:
    external: true

services:
  postgres:
    image: postgres:14.20-alpine@sha256:1bf14357b97fe10f21f2eda7f0d230b2514ab5770ab81cb9cd6cce6750d68b26
    restart: always
    # These will be used in homeserver.yaml later on
    environment:
      - POSTGRES_DB=synapse
      - POSTGRES_USER=synapse
      - POSTGRES_PASSWORD=(matrix_postgres_password)
      - POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C
    volumes:
      - /home/aosus/matrix/synapse-postgres:/var/lib/postgresql/data:rw
    networks:
      default:


  synapse:
    image: ghcr.io/element-hq/synapse:v1.142.1@sha256:5769c4c3affb9051538e253529353acd97c3d26618e738a7ac67cfb1ebcc0a1f
    container_name: synapse
    restart: always
    volumes:
      - /home/aosus/matrix/synapse-media_store:/data/media_store:rw
    environment:
      - UID=991
      - GID=991
      - SYNAPSE_CONFIG_DIR=config
    configs:
      - source: synapse-homeserver
        target: /config/homeserver.yaml
        uid: "991"
        gid: "991"
      - source: synapse-log-config
        target: /config/log.config
        uid: "991"
        gid: "991"
      - source: mautrix-telegram-appservice
        target: /app-services/telegram.yaml
        uid: "991"
        gid: "991"
      - source: mautrix-discord-appservice
        target: /app-services/discord.yaml
        uid: "991"
        gid: "991"
    secrets:
      - source: matrix-signing-key
        target: signing.key
        uid: "991"
        gid: "991"
    healthcheck:
      test: [ "CMD", "curl", "-fSs", "http://localhost:8008/health" ]
      interval: 15s
      timeout: 5s
      retries: 3
      start_period: 5s
    networks:
      default:
      web:

  mautrix-telegram:
    container_name: mautrix-telegram
    restart: always
    image: dock.mau.dev/mautrix/telegram:v0.15.3@sha256:04066316717e224d26677550089740f65345d64ea4a78187f5d4e0e66d970f61
    configs:
      - source: mautrix-telegram-appservice
        target: /data/registration.yaml
      - source: mautrix-telegram-config
        target: /data/config.yaml
    networks:
      default:

  postgres-telegram:
    image: postgres:14.20-alpine@sha256:1bf14357b97fe10f21f2eda7f0d230b2514ab5770ab81cb9cd6cce6750d68b26
    restart: always
    environment:
      - POSTGRES_DB=telegram
      - POSTGRES_USER=telegram
      - POSTGRES_PASSWORD=(matrix_telegram_postgres_password)
      - POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C
    volumes:
      - /home/aosus/matrix/mautrix-telegram/postgres:/var/lib/postgresql/data:rw
    networks:
      default:

  mautrix-discord:
    container_name: mautrix-discord
    restart: always
    image: dock.mau.dev/mautrix/discord:latest@sha256:87cf11df3c1a2d4418875f5a7b20f5c74a7e52fda2f5946aa3d7f7a57a50d4de 
    configs:
      - source: mautrix-discord-appservice
        target: /data/registration.yaml
      - source: mautrix-discord-config
        target: /data/config.yaml
    networks:
      default:
      web:

  postgres-discord:
    image: postgres:14.20-alpine@sha256:1bf14357b97fe10f21f2eda7f0d230b2514ab5770ab81cb9cd6cce6750d68b26
    restart: always
    environment:
      - POSTGRES_DB=discord
      - POSTGRES_USER=discord
      - POSTGRES_PASSWORD=(matrix_discord_postgres_password)
      - POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C
    volumes:
      - /home/aosus/matrix/mautrix-discord/postgres:/var/lib/postgresql/data:rw

  eturnal:
    image: ghcr.io/processone/eturnal:1.12.1-r2@sha256:b2954dbfb6fea4bccaa4c60cb51db371713edb29cf70b58820ae0d166d3f5ae8
    user: 0:0 # to access caddy certs
    ports:
      - '3478:3478'
      - '32000-32200:32000-32200'
      - '3478:3478/udp'
      - '32000-32200:32000-32200/udp'
    volumes:
      - caddy_data:/caddy-data:ro
    environment:
      - ETURNAL_USER=root
    configs:
      - source: eturnal
        target: /etc/eturnal.yml

  askaosus:
    image: ghcr.io/aosus/askaosus:latest@sha256:8e2099f2e27e078be8d16cf82fbd2df0968e3ef47e1c00f96fc111bbd7e417c0
    volumes:
      - askaosus-data:/app/data
      - askaosus-logs:/app/logs
      - /home/aosus/matrix/askaosus/system_prompt.md:/app/system_prompt.md:ro
      - /home/aosus/matrix/askaosus/responses.json:/app/responses.json:ro
    environment:
      # Python configuration
      - PYTHONUNBUFFERED=1
      
      # Matrix Configuration
      - MATRIX_HOMESERVER_URL=https://matrix.aosus.org
      - MATRIX_USER_ID=@askaosus:aosus.org
      - MATRIX_PASSWORD=(matrix_askaosus_password)
      - MATRIX_DEVICE_NAME=askaosus-cups-g11
      - MATRIX_STORE_PATH=/app/data/matrix_store
      
      # Discourse Configuration
      - DISCOURSE_BASE_URL=https://discourse.aosus.org
      - DISCOURSE_API_KEY=(matrix_askaosus_apikey)
      - DISCOURSE_USERNAME=(matrix_askaosus_username)
      
      # LLM Configuration
      - LLM_PROVIDER=openrouter
      - LLM_API_KEY=(matrix_askaosus_llm_apikey)
      - LLM_MODEL=openai/gpt-oss-120b
      # - LLM_MAX_TOKENS=500
      # - LLM_TEMPERATURE=2
      - LLM_OPENROUTER_PROVIDER=groq
      
      # Bot Behavior Configuration
      - BOT_RATE_LIMIT_SECONDS=3
      - BOT_MAX_SEARCH_RESULTS=10
      - BOT_DEBUG=${BOT_DEBUG:-false}
      - BOT_MAX_SEARCH_ITERATIONS=6
      - BOT_REPLY_BEHAVIOR=ignore
      
      # Logging Configuration
      - LOG_LEVEL=LLM
#      - BOT_MENTIONS="@askaosus_bot, askaosus:, @askaosus"

configs:
  synapse-homeserver:
    file: /home/aosus/matrix/homeserver.yaml
  synapse-log-config:
    file: /home/aosus/matrix/log.config
  mautrix-telegram-appservice:
    file: /home/aosus/matrix/mautrix-telegram/app-service-registration.yaml
  mautrix-telegram-config:
    file: /home/aosus/matrix/mautrix-telegram/config.yaml
  mautrix-discord-config:
    file: /home/aosus/matrix/mautrix-discord/config.yaml
  mautrix-discord-appservice:
    file: /home/aosus/matrix/mautrix-discord/app-service-registration.yaml
  eturnal:
    file: /home/aosus/matrix/eturnal.yml
# import key using file created by github runner.
secrets:
  matrix-signing-key:
    file: /home/aosus/matrix/signing.key

volumes:
  caddy_data:
    external: true
  askaosus-data:
  askaosus-logs:
